/* Sam Carr - 10/3/2023 */
$bodybg: #b8d1eb;

body {
    background-color: $bodybg;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

#outerwrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.floatleft {
    float: left;
    margin-right: 3%;
}

.floatright {
    float: right;
    margin-right: 3%;
}

nav {
    list-style-type: none;
}

main {
    clear: both;
    background-color: #c5a98b;
    padding: 10px;
    > ul {
        list-style-image: url("../image/tomato.png");
    }
}

footer {
    clear: both;
    font-size: .75em;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-family: Georgia, serif;
}

h2 {
    font-family: Garamond, serif;
    font-weight: normal;
    font-style: italic;
}
