/* PALLETE - B3A398, BBC3A4, C6DCBA, D7E4C0 */

body {
    background-color: #C6DCBA;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0 auto 0 auto;
    width: 70%;
}

header, main, footer {
    margin: 10px 0;
    padding: 0;
}

.clear {
    clear: both;
}

#calculator {
    background-color: #BBC3A4;
    padding: 20px;
    margin: 30px 0 20px 0;
    width: 50%;
}

#sodaman {
    width: 50%;
    float: left;
    margin: 0 20px 20px 0;
}
.cycle-slideshow { width: 50%; background-color: #BBC3A4;  }
.cycle-slideshow img { width: auto; height: 300px; }

nav {
    /* background-color: #186F65; */
    background: #7a806b;
    font-weight: bold;

    margin: 0;
    padding: 0px;
}

nav a {
    text-decoration: none;
    color: #D7E4C0;
}

nav a:visited {
    color: #c2d4a3;

}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > ul > a {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 0px;
    margin: 0 10px;
    flex-grow: 1;
    align-items: stretch;
    text-align: center;
}

h1 a { 
    text-decoration: none;
    color: #000000;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 16px;
    border-radius: 8px;
}
fieldset
{
  background-color:#D7E4C0;
  max-width:500px;
  padding:16px;	
  border:2px solid green; 
  border-radius:8px;
  font-family:'Times New Roman', Times, serif;
}

input, textarea {
  margin: 0.4rem;
}  

.pad {
    margin: 30px;
}

@media screen and (max-width:750px){
    body {
        width: calc(100% - 20px);
    }
}

/* for JavaScript */
.hidden {
    display: none;
}